.text-dyl {
  color: rgb(238, 195, 5) !important;
}

.btn-dyl {
  background-color: #d90504 !important;
  border-color: #d90504 !important;
  color: white;
}

.btn-dyl:hover {
  background-color: #740f0f;
}

#header img {
  width: 80px;
}

#main .carousel-inner img {
  max-height: 80vh;
  object-fit: cover;
  filter: grayscale(40%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#tienes-un-proyecto-en-mente {
  background-color: #d90504;
  color: white
}

#tienes-un-proyecto-en-mente img {
  max-width: 100%;
}

#footer {
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5472);
}

#footer a {
  color: white;
}

.contacto {
  text-decoration: none;
  color: #413d3d;
}

#portafolio {
  background-color: #222121;
  color: rgb(196, 191, 191);
}


#watsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  padding: 20px;
  z-index: 1000;
  margin-right: 100px;
}



#watsapp img {
  width: 80px;
  position: absolute;
  margin-top: -100px;
}